<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"> home </a></li>
		        	<li><a href="/about"> projects </a></li>
	        		<li><a href="/cv"> book lists </a></li>
	        		<li><a href="/blog"> favorites </a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dr537@cornell.edu"> email me :) </a></li>
	        		<li><a href="https://github.com/drod-chavez"> github.com/drod-chavez </a></li>
				</ul>
			</footer>
		</body>
	</html>
